body {
  background-color: rgb(237, 237, 237);
}

.card {
  border: 8px yellowgreen solid;
  display: flex;
  flex-direction: column;

  width: 400px;
}

.card > * {
  margin: auto
}

.card > h1 {
  margin: auto
}

.poke-pic{
  max-width: 300px;
  background-color: rgb(193, 193, 193);
}
